.main {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.blob {
    width:784px;
    height:784px;
}

.form_wrapper {
    width:60%;
    transform:translateY(-138px);
}

.number_div {
    width:100%;
    display:flex;
    justify-content:flex-start;
    margin-bottom:28px;
}

.circle {
    width:38px;
    height:38px;
    background-color:#ffffff3c;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#ffffffd3;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
    margin-right:8px;
}

.circle_active {
    background-color:#07b8b8f8;
    color:#ffff;
}

.question {
    font-size:30x;
    font-weight:400;
    color:#fefefe;
    width:94%;
    margin-bottom:24px;
    letter-spacing:1.01px;
    line-height:normal;
}

.radio {
    margin-right:16px;
    margin-top:16px;
}

.option {
    font-size:24px;
    color:#ffff;
    font-weight:300;
margin-top:16px;
}

.btn {
    padding:10px 16px;
    border-radius:6px;
    background-color:#BA0E42;
    font-weight:400;
    color:#ffff;
    font-size:16px;
    letter-spacing:0.79px;
}

.input_wrapper {
    display:flex;
}

@media only screen and (max-width: 601px) {

    .blob {
        display:none;
    }

    .form_wrapper {
        width:100%;
        transform:translateY(0px);
        padding-left:64px;
        margin-top:134px;
    }

    .form {
        width:95%;
    }

}