.main {
    width:95%;
}

.container {
    width:100%;
    height:395px;
    overflow:scroll;
    margin-top:24px;
}

.container::-webkit-scrollbar {
    width: 9px;               /* width of the entire scrollbar */
}
  
.container::-webkit-scrollbar-track {
    background: #282828;        /* color of the tracking area */
}
  
.container::-webkit-scrollbar-thumb {
    background-color:#5FD9E7;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

.view {
    padding:6px 14px;
    background-color:#5FD9E7;
    color:#191919;
    font-weight:500;
    border-radius:4px;
}

.filter {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:38px;
}

.txt {
    font-size:18px;
    font-weight:300;
    color:#ffffffc4;
    height:38px;
    display:grid;
    place-items:center;
}

.select, .option {
    width:194px;
    height:38px;
    border-radius:6px;
    background-color:#1b1b1b;
    border:none;
    outline:none;
    margin-left:14px;
    font-size:16px;
    color:#ffffffce;
    font-weight:300;
    letter-spacing:1.2px;
    letter-spacing:0.89px;
}

.heading {
    font-size:22px;
    font-weight:500;
    color:#5FD9E7;
    letter-spacing:1.2px;
}

.form {
    width:345px;
    margin-top:25px;
    margin-left:40px;
}

.m_left {
    margin-left:40px;
}

.label {
    font-size:18px;
    color:#fefefeda;
    font-weight:300;
}

.input {
    width:100%;
    height:38px;
    border-radius:6px;
    background-color:#191919;
    padding-left:16px;
    font-size:14px;
    color:#fefefee1;
    font-weight:300;
    letter-spacing:0.89px;
}

.select {
    width:345px;
    height:38px;
    background-color:#191919;
    font-size:14px;
    padding:0px 16px;
    color:#fefefee1;
    margin-left:0;
}

.btn {
    padding:8px 18px;
    border-radius:4px;
    background-color:#ffff;
    color:#191919;
    font-size:16px;
    font-weight:400;
    margin-top:16px;
    transition:all 0.3s ease-in-out;
}

.btn:hover {
    background-color:#5FD9E7;
    color:#191919;
}

.textarea {
    width:45%;
    height:124px;
    padding:16px;
}

.input_small {
    width:284px;
    height:42px;
    margin-right:14px;
}

.label_ {
    margin-right:16px;
}

.flexbox {
    display:flex;
}

.search_bar {
    display:flex;
}

.searchbar {
    width:325px;
    height:38px;
    border-radius:34px;
    padding-left:18px;
    font-size:16px;
    font-weight:300;
    letter-spacing:1px;
}

.edit {
    width:28px;
    height:28px;
    cursor:pointer;
    opacity:0.69;
}



.text_wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
}

.icon {
    width:20px;
    height:20px;
    background:url('/search.png');
    object-fit:cover;
    margin-top:8px;
    margin-left:-30px;
}

.popup {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-25%, -50%);
    background-color:#0f0f0f;
    z-index:99;
    width:325px;
    border-radius:16px;
    padding:34px 20px;
}

.custom_select {
    width:100%;
}

.close {
    position:absolute;
    top:14px;
    right:14px;
    width:20px;
    height:20px;
    cursor:pointer;
}

.button {
    font-size:14px;
    font-weight:400;
    background-color:#BA0E42;
    color:#ffff;
    float:right;
    letter-spacing:0.89px;
}

.window {
    width:385px;
    height:345px;
    z-index:1000;
    border-radius:0px;
    overflow-x:hidden;
    overflow-y:scroll;
    scrollbar-color: #5FD9E7 #282828;
    scrollbar-width: thin;  
}

.h {
    font-size:18px;
    font-weight:500;
    color:#ffffffdf;
    letter-spacing:0.89px;
    margin-bottom:18px;
}

.question {
    font-size:16px;
    font-weight:300;
    color:#ffffffe1;
}

.options {
    display:flex;
    font-size:14px;
    font-weight:300;
    color:#ffffffa9;
    margin:14px 0px;
}

.question_wrapper {
    margin-top:26px;
}

.checkbox {
    margin-left:14px;
}

.tick {
    width:164px;
    height:164px;
}

@media only screen and (max-width: 601px) {

    .filter {
        width:100%;
        flex-direction:column;
        justify-content:center;
    }

    .container {
        height:457px;
    }

    .flexbox {
        width:100%;
        flex-direction:column;
        align-items:flex-start;
    }

    .select {
        height:42px;
    }

    .search_bar {
        width:100%;
    }

    .searchbar {
        width:100%;
        height:42px;
        margin-top:28px;
    }

    .icon {
        margin-top:37px;
    }

    .form {
        width:100%;
        margin-left:0px;
        padding-bottom:40px;
    }

    .input, .select {
        width:100%;
    }

    .m_left {
        margin-left:0px;
    }

    .popup {
        transform:translate(-50%, -50%);
    }

    .window {
        width:92%;
    }
    
}