.main {
    width:100%;
    height:100vh;
    overflow:hidden;
    background-color:#1B1B1B;
    position:relative;
}

.bar {
    position:absolute;
    z-index:999;
    width:50px;
    height:280px;
}

.left {
    top:0;
    left:0;
    background:url('/left.png');
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
}

.gamer {
    position:absolute;
    right:0;
    bottom:0;
    width:584px;
    height:584px;
}

.cross {
    position:absolute;
    left:24px;
    bottom:38px;
    width:30px;
}

@media only screen and (max-width: 601px) {

    .main {
        min-height:100vh;
        height:auto;
        overflow-y:scroll;
        padding-bottom:38px;
    }

    .bar {
        width:44px;
        height:204px;
    }

    .cross {
        left:100%;
        top:68px;
    }

    .gamer {
        width:280px;
        height:280px;
    }

}